.footer {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  max-height: 18px;
  margin: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    max-height: fit-content;
    margin: 0 auto 24px 16px;
  }
}